@use "$styles/functions/convert";
@use "$styles/mixins/breakpoints";
@use "$styles/mixins/mixins";
@use "$styles/mixins/typography";

.block {
  display: flex;
  flex-direction: column;
  border-radius: convert.to-rem(10);
  overflow: hidden;
  background-color: var(--color-bg-card);
  min-width: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: convert.to-rem(10);
  justify-content: space-between;
  padding: convert.to-rem(10) convert.to-rem(10) convert.to-rem(20);
}

.name {
  margin-bottom: convert.to-rem(10);

  @include typography.h4;

  @include breakpoints.sm {
    min-height: convert.to-rem(44);

    @include mixins.line-clamp(2);
  }
}

.info {
  margin-top: convert.to-rem(5);
}

.modification {
  @include typography.additional-text;
}

.buyButton {
  min-width: convert.to-rem(120);
  margin-left: auto;
}
