@use "$styles/functions/convert";
@use "$styles/mixins/breakpoints";

.block {
  padding: convert.to-rem(70) 0;
}

.sort {
  padding: convert.to-rem(10);
  margin-bottom: convert.to-rem(20);
  border-radius: convert.to-rem(10);
  background-color: var(--color-bg-card);
}

.list,
.sort {
  display: grid;
  gap: convert.to-rem(20);

  @include breakpoints.sm {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoints.md {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoints.lg {
    grid-template-columns: repeat(4, 1fr);
  }
}

.pagination {
  margin: convert.to-rem(50) auto 0;
  width: fit-content;
}
